/* Fonts */ 
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
a{text-decoration: none;color: black;}
ul{list-style-type: none;}

/* Body */ 

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-weight: bold;
    background: rgb(126, 126, 231);
}
button{
    outline: none;
    border: beige;
    cursor: pointer;
    border: none;
    font-family: inherit;
    padding: 0.7rem;
}
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 , 0, 0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup-container.active{display: flex;}
.popup {
    background-color: #fff;
    border-radius: 5px;
    width: 500px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.3);
    padding: 2rem;
    position: relative;
}
.popup h1{margin-bottom: 15px;}
.popup button {
    background-color: white;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}